#header {
  background-color: #D70000;
  margin: 5px; /* the smaller, the more space */
  height: 108px;
  border-radius: 5px; /* to get a round edge*/
  text-align: center;
}

#header em {
  font-size: 21pt;
}

#navbar {
  background-color: gray;
  margin: 5px;
  height: 35px;
  border-radius: 5px; /* to get a round edge*/
}

#navbar ul {
  background-color: #8E8E8E;
  margin: 8px;
  list-style-type: none;
  text-align: center;
  border-radius: 5px;
  padding: 6px;
}

#navbar ul li {
  display: inline; /*to display info in one line*/
}

#navbar ul li {
  font-size: 15pt;
  padding: .2em 7em
}

.main {
  background-color: #ffcba4;
  margin: 5px;
  border-radius: 5px; /* to get a round edge*/
  padding: 20px;
}

.mySlides img {
  margin-top: 7px;
  width: 124px;
  height: 313px;
}
.mySlides div {
  font-family: cursive;
  font-size: 12.5pt;
  color: green;
}
.main dd{
  font-size: 35px;
}

.main h1 {
  font-size: 35px;
}

.main iframe {
  text-align: center;
}
/* FOOTER SECTION */
#footer {
  background-color: #D70000;
  margin: 0px;
  height: 120px;
  clear: both; /*Bring the footer below all the main sections and sidebars*/
  text-align: center;
}

#footer ul{
  margin: 10px;
  list-style-type: none;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}
#footer ul li {
    display: inline; /* makes list appear as horizontal line*/
}
#footer ul li {
  text-decoration: none;
  font-size: 14pt;
  padding: .2em 1em;
}
